img{
width:300px;
heigth:300px;    
   
}
body{
    background-color: aquamarine;
    border: solid 1px blue;
    background-image: url(5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color:crimson;
    padding:1px;
}
.vote-button{
    border: ridge  1px aqua;
     padding: 0.75em 1.25em;
  background-color: pink;
  opacity: 0.9;
  width: 10em;
  color: black;
}
h2{
    color:aqua;
}
#obasanjovotes,#muhammedvotes,#jonathanvotes {
border: solid 1px pink;
    background-color:darkorchid;
    padding: 0.75em 1.25em;
    width:300px;
    opacity:o.9px
}